In [2]:
import glob

In [7]:
import pandas as pd

In [34]:
directory = '/network/tmp1/barinpvi/data/preprocessed_canopex_nrcan/*.csv'

In [35]:
df1 = pd.DataFrame()

In [36]:
for f in glob.glob(directory):
    df = pd.read_csv(f)
    df1 = pd.concat([df1, df])
    #print(df.head())

In [37]:
df1.head()

         date  precip  evap  discharge  max_temp  min_temp      lat      lon
0  1963-06-01  0.4415   NaN        NaN   15.3000    6.2208  56.3416 -94.6966
1  1963-06-02  0.6031   NaN        NaN   12.6131    2.3658  56.3416 -94.6966
2  1963-06-03  0.0000   NaN        NaN   19.4900    1.2485  56.3416 -94.6966
3  1963-06-04  0.0000   NaN        NaN   17.7519    4.5481  56.3416 -94.6966
4  1963-06-05  0.0000   NaN        NaN   20.2588    2.2992  56.3416 -94.6966

In [18]:
df1['lat'].max()

60.0

In [19]:
df1['lat'].min()

42.7644

In [21]:
df1['lon'].max()

-54.11

In [22]:
df1['lon'].min()

-134.3906

In [25]:
365*45*600

9855000

In [38]:
df1.to_csv('/network/tmp1/barinpvi/data/canopex_nrcan_all.csv', index=False)

In [39]:
df2 = pd.read_csv('/network/tmp1/barinpvi/data/canopex_nrcan_all.csv')

In [40]:
df2

,date,precip,evap,discharge,max_temp,min_temp,lat,lon
0,1963-06-01,0.4415,NaN,NaN,15.3000,6.2208,56.3416,-94.6966
1,1963-06-02,0.6031,NaN,NaN,12.6131,2.3658,56.3416,-94.6966
2,1963-06-03,0.0000,NaN,NaN,19.4900,1.2485,56.3416,-94.6966
3,1963-06-04,0.0000,NaN,NaN,17.7519,4.5481,56.3416,-94.6966
4,1963-06-05,0.0000,NaN,NaN,20.2588,2.2992,56.3416,-94.6966
5,1963-06-06,0.0000,NaN,NaN,22.7138,5.5746,56.3416,-94.6966
6,1963-06-07,8.9946,NaN,NaN,22.4235,11.2373,56.3416,-94.6966
7,1963-06-08,7.8019,NaN,NaN,10.3619,3.5558,56.3416,-94.6966
8,1963-06-09,0.0000,NaN,NaN,10.0785,-0.6523,56.3416,-94.6966
9,1963-06-10,0.3754,NaN,NaN,9.4200,-0.7265,56.3416,-94.6966
10,1963-06-11,0.2412,NaN,NaN,7.2096,0.8265,56.3416,-94.6966
11,1963-06-12,0.1412,NaN,NaN,13.4373,1.9077,56.3416,-94.6966
12,1963-06-13,0.2331,NaN,2.0003,16.7238,0.7554,56.3416,-94.6966
13,1963-06-14,0.9204,NaN,2.0003,20.4765,6.2885,56.3416,-94.6966
14,1963-06-15,1.2735,NaN,1.9924,19.2458,7.1781,56.3416,-94.6966
15,1963-06-16,0.2700,NaN,1.6525,17.1708,7.6023,56.3416,-94.6966
16,1963-06-17,0.0000,NaN,1.3046,17.4423,3.8004,56.3416,-94.6966
17,1963-06-18,0.0000,NaN,1.2967,13.2519,2.0231,56.3416,-94.6966
18,1963-06-19,0.0000,NaN,1.2888,16.6608,0.7485,56.3416,-94.6966
19,1963-06-20,0.0000,NaN,1.2729,23.4865,2.6185,56.3416,-94.6966
20,1963-06-21,0.2654,NaN,1.2650,26.2950,9.7319,56.3416,-94.6966
21,1963-06-22,1.6765,NaN,1.2571,24.9500,10.3523,56.3416,-94.6966
22,1963-06-23,0.4665,NaN,1.2571,23.5135,10.7050,56.3416,-94.6966
23,1963-06-24,9.4646,NaN,1.2492,22.2954,4.3212,56.3416,-94.6966
24,1963-06-25,7.2415,NaN,1.1306,23.4573,13.2269,56.3416,-94.6966
25,1963-06-26,0.0000,NaN,1.0199,24.2885,14.2615,56.3416,-94.6966
26,1963-06-27,0.1977,NaN,0.9013,25.0700,11.3342,56.3416,-94.6966
27,1963-06-28,0.0000,NaN,0.7835,25.3638,9.8846,56.3416,-94.6966
28,1963-06-29,0.0000,NaN,0.6673,23.3719,8.9873,56.3416,-94.6966
29,1963-06-30,9.1135,NaN,0.6602,17.3896,9.7062,56.3416,-94.6966
...,...,...,...,...,...,...,...,...
6132725,1993-08-02,4.7212,NaN,2.2867,22.8642,14.0626,49.2567,-73.7083
6132726,1993-08-03,4.6243,NaN,2.6247,23.0114,12.9999,49.2567,-73.7083
6132727,1993-08-04,5.0304,NaN,NaN,18.0874,11.8900,49.2567,-73.7083
6132728,1993-08-05,0.0413,NaN,NaN,15.8570,8.7676,49.2567,-73.7083
6132729,1993-08-06,0.0000,NaN,NaN,18.6222,5.4939,49.2567,-73.7083
6132730,1993-08-07,8.3164,NaN,NaN,20.6359,5.1253,49.2567,-73.7083
6132731,1993-08-08,4.5855,NaN,NaN,21.8625,7.2412,49.2567,-73.7083
6132732,1993-08-09,3.2300,NaN,NaN,22.6170,11.9149,49.2567,-73.7083
6132733,1993-08-10,8.7259,NaN,NaN,22.0749,12.3864,49.2567,-73.7083
6132734,1993-08-11,6.8821,NaN,NaN,21.8236,14.6150,49.2567,-73.7083
6132735,1993-08-12,0.3883,NaN,NaN,23.3962,14.2780,49.2567,-73.7083
6132736,1993-08-13,0.9001,NaN,NaN,26.9187,12.5770,49.2567,-73.7083
6132737,1993-08-14,0.0000,NaN,NaN,23.3784,14.1091,49.2567,-73.7083
6132738,1993-08-15,0.0350,NaN,NaN,25.0017,12.0234,49.2567,-73.7083
6132739,1993-08-16,5.5814,NaN,NaN,23.1618,10.1679,49.2567,-73.7083
6132740,1993-08-17,0.0246,NaN,NaN,24.1268,14.0887,49.2567,-73.7083
6132741,1993-08-18,0.0000,NaN,NaN,25.1582,9.2020,49.2567,-73.7083
6132742,1993-08-19,3.8408,NaN,NaN,24.7308,12.4596,49.2567,-73.7083
6132743,1993-08-20,2.3064,NaN,NaN,21.9693,10.0295,49.2567,-73.7083
6132744,1993-08-21,0.0000,NaN,NaN,14.1264,3.0100,49.2567,-73.7083
6132745,1993-08-22,0.0000,NaN,NaN,21.9337,2.3814,49.2567,-73.7083
6132746,1993-08-23,2.0758,NaN,NaN,22.7258,11.9478,49.2567,-73.7083
6132747,1993-08-24,5.5518,NaN,NaN,19.3418,12.7745,49.2567,-73.7083
6132748,1993-08-25,0.0000,NaN,NaN,27.8720,15.5651,49.2567,-73.7083
6132749,1993-08-26,0.0000,NaN,NaN,28.0345,14.5413,49.2567,-73.7083
6132750,1993-08-27,6.8678,NaN,NaN,27.7722,13.5920,49.2567,-73.7083
6132751,1993-08-28,7.0704,NaN,NaN,18.3549,11.4255,49.2567,-73.7083
6132752,1993-08-29,1.7871,NaN,NaN,19.4268,3.8347,49.2567,-73.7083
6132753,1993-08-30,0.5733,NaN,NaN,19.7436,6.4067,49.2567,-73.7083
6132754,1993-08-31,7.7454,NaN,NaN,16.7597,11.4072,49.2567,-73.7083